@import "tailwindcss";

/*! :root */
/* @theme {} */

/*! body */
body {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  scroll-behavior: smooth;
  font-family: ui-sans-serif, 'sans', InterVariable, 'Noto Sans SC', system-ui, sans-serif;
}

/*! */
.recent-posts>.recent-posts-item:not(:first-child),
.aside>.aside-item:not(:first-child) {
  margin-top: 12px;
}

.recent-posts>.recent-posts-item:nth-child(even) {
  flex-direction: row-reverse;
}

/*! */
.home-banner,
.blog-container {
  max-width: 1200px;
}

/* .recent-posts {} */

.recent-posts-item {
  height: 13.8em;
  border-radius: 12px;
  background-color: #fff;
  display: flex;
  overflow: hidden;
}

.recent-posts-item a {
  color: #0a0a0a !important;
}

aside {
  height: auto;
}

.aside-item {
  width: 100%;
  padding: 1rem 1.2rem;
  border-radius: 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.aside-item p {
  font-size: 14px;
}

.aside-item-title {
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 2px;
  display: flex;
  align-items: center;
}

.archives {
  color: #000 !important;
}

.archives:hover {
  border-bottom: none !important;
}

.post-content {
  padding: 10px 15px;
}

/*! 顶部导航栏 */
.menu {
  display: flex;
  justify-content: center;
}

/* .navlist {} */

.navlist a {
  display: block;
}

.btli {
  width: 100px;
  line-height: 40px;
  text-align: center;
  /* margin: 0; */
}

.droplist {
  display: none;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid purple;
  /* width: max-content; */
  margin: 0;
  transition: all .5s ease-in-out;
  position: absolute;
  z-index: 1;
}

/* .droplist li {} */

.droplist li a {
  width: 100px;
}

.droplist li:not(:last-child) {
  border-bottom: 1px solid #666;
}

.droplist li:hover {
  background-color: aquamarine;
}

.btli:hover .droplist {
  display: block;
}

.menu-btn {
  display: none;
}

/*! Toc */
#toc {
  display: none;
}

#toc+ul {
  display: none;
  position: fixed;
  right: 16px;
  top: 115px;
  margin: 0;
  padding: 0;
  max-width: 160px;
  max-height: 480px;
  overflow: auto;

  &::before {
    display: table;
    content: "Table of Contents";
    color: rgba(42, 46, 54, 0.45);
    font-weight: bold;
  }
}

#toc+ul,
#toc+ul ul {
  list-style-type: none;
  font-size: 14px;
  margin: 0;

  >li>a {
    text-decoration: none;
    color: rgb(55, 65, 81);
    font-weight: normal;
  }
}

@media (min-width: 1024px) {
  #toc+ul {
    display: block !important;
  }
}

.prose .shiki {
  font-family: DM Mono, Input Mono, Fira Code, monospace;
  font-size: 0.92em;
  line-height: 1.4;
  /* margin: 0.5em 0; */
}

/* TODO: shikiji 未对纯文本样式做适配 */
.prose .shiki.nord[lang=plaintext] :where(code) {
  color: #d8dee9ff;
}

/*! Admin Panel */
.left-aside {
  width: 100%;
  max-width: 200px;
  min-width: 200px;
  border-right: 1px solid #d9d9d9;
  overflow: auto;
  position: sticky;
  inset-inline-start: 0;
  top: 0;
  bottom: 0;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  flex: 0 0 200px
}

/* .left-aside-menu {} */

.left-aside-menu-item {
  /* width: 100%; */
  height: 40px;
  padding: 0 0 0 26px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.left-aside-menu-item a {
  font-size: 14px;
}

.left-aside-menu-item:hover {
  background-color: #e6f4ff;
}

/* .left-aside-menu>.left-aside-menu-item:not(:first-child) {} */

/*! dark-mode */
@media (prefers-color-scheme: light) {
  body {
    background-color: #f4f4f4;
  }

  aside .aside-item {
    background-color: #fff;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #0a0a0a;
  }
}

/*! media */
@media screen and (max-width:1024px) and (min-width: 769px) {}

@media screen and (max-width: 768px) {
  .header-wrapper {
    width: 100%;
    padding: 0 10px;
    justify-content: space-between;
  }

  .menu {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  .blog-container {
    flex-direction: column;
  }

  .blog-container .blog-container-content,
  .blog-container .aside {
    width: 95%;
    margin: 0 auto;
  }

  .aside {
    padding-left: 0;
  }

  .info {
    display: none;
  }

  /*! dashboard */
  .left-aside {
    display: none;
  }

  .right-content {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .recent-posts-item {
    height: auto;
    flex-direction: column;
  }

  .recent-posts-item:nth-child(even) {
    flex-direction: column !important;
  }

  .post-cover,
  .post-meta {
    width: 100%;
  }

  /* .post-cover {} */

  .post-cover img {
    width: 403.75px !important;
  }

  .post-meta {
    padding: 14px 16px;
  }
}