@import "tailwindcss";

/*! :root */
/* :root {} */

/* @theme inline {} */

/*! body */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*! */
.recent-posts>.recent-posts-item:not(:first-child),
.aside>.aside-item:not(:first-child) {
  margin-top: 12px;
}

.recent-posts>.recent-posts-item:nth-child(even) {
  flex-direction: row-reverse;
}

/*! */
/* .banner {} */

.blog-container {
  max-width: 1200px;
}

/* .recent-posts {} */

.recent-posts>.recent-posts-item {
  height: 13.8em;
  border-radius: 12px;
  background-color: #fff;
  display: flex;
  overflow: hidden;
}

aside {
  height: auto;
}

aside>.aside-item {
  width: 100%;
  padding: 1rem 1.2rem;
  border-radius: 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.aside-item>P {
  font-size: 14px;
}

.aside-item-title {
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 2px;
  display: flex;
  align-items: center;
}

/*! Toc */
#toc {
  display: none;
}

#toc+ul {
  display: none;
  position: fixed;
  right: 16px;
  top: 115px;
  margin: 0;
  padding: 0;
  max-width: 160px;
  max-height: 480px;
  overflow: auto;

  &::before {
    display: table;
    content: "Table of Contents";
    color: rgba(42, 46, 54, 0.45);
    font-weight: bold;
  }
}

#toc+ul,
#toc+ul ul {
  list-style-type: none;
  font-size: 14px;
  margin: 0;

  >li>a {
    text-decoration: none;
    color: rgb(55, 65, 81);
    font-weight: normal;
  }
}

@media (min-width: 1024px) {
  #toc+ul {
    display: block !important;
  }
}

.prose .shiki {
  font-family: DM Mono, Input Mono, Fira Code, monospace;
  font-size: 0.92em;
  line-height: 1.4;
  /* margin: 0.5em 0; */
}

/* TODO: shikiji 未对纯文本样式做适配 */
.prose .shiki.nord[lang=plaintext] :where(code) {
  color: #d8dee9ff;
}

/*! Admin Panel */
/* .admin-panel {} */

/*! dark-mode */
@media (prefers-color-scheme: light) {
  body {
    background-color: #f4f4f4;
  }

  aside>.aside-item {
    background-color: #fff;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #0a0a0a;
  }
}

/*! media */
@media screen and (max-width:1024px) and (min-width: 769px) {
  .blog-container {
    padding: 0 20px;
  }
}

@media screen and (max-width: 768px) {
  .blog-container {
    flex-direction: column;
  }

  .blog-container>.content,
  .blog-container>.aside {
    width: 95%;
    margin: 0 auto;
  }

  .aside {
    padding-left: 0;
  }

  .info {
    display: none;
  }
}

@media screen and (max-width: 425px) {}