@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --body-bg-light: #f4f4f4;
  --body-bg-dark: #0a0a0a;
}

/*! body */
body {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  scroll-behavior: smooth;
  font-family: ui-sans-serif, 'sans', InterVariable, 'Noto Sans SC', system-ui, sans-serif;
}

/*! dark and light mode */
@media (prefers-color-scheme: light) {
  body {
    background-color: var(--body-bg-light);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--body-bg-dark);
  }
}

/*! 响应式样式 */
@media screen and (max-width: 1024px) and (min-width: 769px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 640px) {}

@media screen and (max-width: 425px) {}