/*
 *Post Content Css
*/

@font-face {
    font-family: MapleMono;
    src: url('https://cdn.smartcis.cn/gh/ciraos/ciraos-static@main/font/MapleMono-NF-CN-Regular.ttf');
}

.blog-container-content h1,
.blog-container-content h2,
.blog-container-content h3,
.blog-container-content h4,
.blog-container-content h5,
.blog-container-content h6 {
    font-weight: bold;
}

.blog-container-content h1 {
    font-size: 1.5rem;
}

.blog-container-content h2 {
    font-size: 1.5rem;
    border-bottom: 1px solid rgba(68, 68, 68, 0.1);
    padding-bottom: .2rem;
    margin-bottom: 1rem;
}

.blog-container-content h3 {
    font-size: 1.25rem;
}

.blog-container-content h4 {
    font-size: 1.125rem;
}

.blog-container-content h5 {
    font-size: 1rem;
}

.blog-container-content h6 {
    font-size: 1rem;
}

.blog-container-content a:not([href]) {
    cursor: default;
}

.blog-container-content pre {
    tab-size: 4;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    -webkit-tab-size: 4;
}

.blog-container-content blockquote {
    margin: 20px;
    padding: 10px;
    border-left: 5px solid #007bff;
    background-color: rgba(0, 123, 255, 0.1);
    font-style: italic;
    font-size: 1.2em;
}

.blog-container-content cite {
    display: block;
    margin-top: 10px;
    font-style: normal;
    color: #888;
    font-size: 0.9em;
}

.blog-container-content ul {
    list-style-type: square;
}

.blog-container-content ul.inside {
    list-style-position: inside;
}


.blog-container-content ol {
    list-style-type: lower-alpha;
}

.blog-container-content ol.inside {
    list-style-position: outside;
}

.blog-container-content p {
    margin: 1em 0;
}

.blog-container-content a {
    color: oklch(62.3% 0.214 259.815);
}

.blog-container-content pre code {
    font-family: MapleMono, Arial, monospace, sans-serif;
    font-size: 14px;
}

/*! media */
@media screen and (max-width: 600px) {
    .blog-container-content blockquote {
        margin: 10px;
        padding: 5px;
        border-left: 3px solid #007bff;
        background-color: rgba(0, 123, 255, 0.1);
    }

    .blog-container-content cite {
        margin-top: 5px;
        font-size: 0.8em;
    }
}